@model IEnumerable<BikeWebsite.ProductCategory>
@{
    ViewBag.Title = "Clothing";
}

<h2>Clothing</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details/" + item.ProductCategoryID.ToString())
            </td>
        </tr>
    }
</table>